@font-face
  font-family: 'Indie Flower'
  font-style: normal
  font-weight: 400
  src: local('Indie Flower'), local('IndieFlower'), url('/fonts/IndieFlower.ttf') format('truetype')

body
  background-image: url("/images/background.png")
  font-family: 'Indie Flower', cursive
  font-size: 1.5em
  line-height: 1.2em

#signin-view
  margin: auto
  text-align: center
  #logo
    margin: 25px

#list-view
  #logo
    float: left
    margin: 10px 50px
  h1
    font-size: 2.5em
  section
    padding-left: 350px

#board-view
  aside
    position: fixed
    bottom: 50px
    z-index: 999
    width: 300px
    border: 1px solid #aaa
    background-color: #fff
    button
      margin: 3px
      width: 24px
      height: 24px
    .add-postit
      border: none
    #add-postit-blue
      background-image: url("/images/note_bleu.png")
      &:hover
        background-image: url("/images/note_bleu_roll.png")
    #add-postit-green
      background-image: url("/images/note_vert.png")
      &:hover
        background-image: url("/images/note_vert_roll.png")
    #add-postit-yellow
      background-image: url("/images/note_jaune.png")
      &:hover
        background-image: url("/images/note_jaune_roll.png")
    #add-postit-rose
      background-image: url("/images/note_rose.png")
      &:hover
        background-image: url("/images/note_rose_roll.png")
    .add-line
      border: 1px solid #aaa
    #add-line-h
      background: url("/images/horizontal.png") no-repeat center
    #add-line-v
      background: url("/images/vertical.png") no-repeat center
    #add-line-d
      background: url("/images/diagonale.png") no-repeat center
    .toggle-menu
      display: block
      float: right
      margin: 9px 6px 7px
      width: 14px
      height: 22px
      color: #333
      font-size: 1.5em
      text-decoration: none
      background-image: url("/images/chevron_gauche.png")
  aside.closed
    left: -270px
    .toggle-menu
      background-image: url("/images/chevron_droit.png")

#postits-view
  position: fixed
  top: 0
  width: 100%
  height: 100%
  overflow: hidden

.moving
  opacity: 0.4

.postit
  position: fixed
  padding: 25px 5px 10px
  box-shadow: -4px 4px 4px #aaa
  .gradient
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: -moz-linear-gradient(top, #000 0%, #fff 75%)
    background: -webkit-linear-gradient(top, #000 0%, #fff 75%)
    background: linear-gradient(top, #000 0%, #fff 75%)
    opacity: 0.1
    cursor: move
  .resize
    position: absolute
    bottom: 0
    right: 0
    z-index: 3
    width: 16px
    height: 16px
    background-image: url("/images/resize.png")
    cursor: se-resize
  p
    z-index: 5
    margin: 0
    min-height: 1em
    line-height: 1em
    text-align: center
    color: #333
    opacity: 0.75
  &.reverse
    p
      color: #eee

.line
  position: fixed
  background-image: url("/images/trait.png")
  height: 10px
  -moz-transform-origin: 0
  -webkit-transform-origin: 0
  transform-origin: 0
