#board-view aside {
  position: fixed;
  z-index: 2;
}
#postits-view {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.moving {
  opacity: 0.4;
}
.postit {
  position: fixed;
  cursor: move;
}
.line {
  position: fixed;
}
