@font-face
  font-family: 'Indie Flower'
  font-style: normal
  font-weight: 400
  src: local('Indie Flower'), local('IndieFlower'), url('/fonts/IndieFlower.woff') format('woff')

body
  background-image: url("/images/background.png")
  font-family: 'Indie Flower', cursive
  font-size: 1.5em
  line-height: 1.2em

:focus
  outline-color: #333
