#login
  display: block
  padding: 0 0 100px 0
  font: normal 14px/14px Helvetica
  background: #fff
  *
    margin: 0
    padding: 0
    border: 0

  header
    margin: 0 0 50px 0
    padding: 30px 0
    text-align: center
    h1
      display: inline-block
      padding: 0
      font: bold 130px/130px Helvetica
      color: #fff
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15)
      span
        display: inline-block
        width: 105px
        height: 120px
        text-indent: -9999px
        background: url('/images/koala.png') 0 36px no-repeat

    p
      margin: 10px 0 0 0
      font: bold 30px/30px Helvetica
      color: #999
      letter-spacing: -1px

  article
    position: relative
    display: block
    width: 980px
    height: 90px
    margin: 0 auto 20px auto
    p
      display: block
      text-align: center
      font: normal 12px/14px Helvetica
      color: #666
      a
        color: #666
        &:hover
          text-decoration: none
      .signin
        display: inline-block
        margin: 0 0 25px 0
        padding: 10px 40px
        border-radius: 2px
        box-shadow: 0 -1px 0 #ccc, 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15)
        font: bold 30px/30px Helvetica
        color: #999
        text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px
        text-decoration: none
        text-transform: uppercase
        -webkit-transition: .2s all linear
        -moz-transition: .2s all linear
        transition: .2s all linear
        &:hover
          box-shadow: 1px 1px 4px #b9b9b9
          border: 1px solid #ccc

#services
  padding: 40px 0
  article
    width: 980px
    margin: 0 auto
    p
      margin: 0
      font: bold 24px/26px Helvetica
      color: #666
      text-align: center
      letter-spacing: -1px
      text-shadow: 1px 1px 0px #fff
      &.screenshot
        margin: 20px 0 0 0
        img
          display: block
          margin: 0 auto
          border: 1px solid #fff
          border-radius: 3px
          box-shadow: 1px 1px 4px #ccc

#features
  background: #b2b2b2
  ul
    display: block
    width: 980px
    margin: 50px auto 0 auto
    padding: 0 0 30px 0
    text-align: center
    li
      display: inline-block
      width: 180px
      margin: 0 30px
      padding: 130px 0 0 0
      vertical-align top
      font: normal 16px/20px Helvetica
      color: #666
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3)
      &:nth-child(1)
        //background: url('/images/home/picto-create.png') center 0 no-repeat
      &:nth-child(2)
        //background: url('/images/home/picto-edit.png') center 0 no-repeat
      &:nth-child(3)
        //background: url('/images/home/picto-move.png') center 0 no-repeat

footer
  margin: 0
  padding: 10px 0 0 0
  ul
    display: block
    width: 600px
    margin: 30px auto
    li
      display: inline-block
      width: 300px
      font: normal 14px/14px Helvetica
      text-align: left
      a
        color: #666
        text-decoration: none

    &:last-child
      width: auto
      margin: 0
      padding: 0
      background: #B2B2B2
      text-align: center
      li
        width: auto
        padding: 0 10px
        border-right: 1px solid #ccc
        font: normal 12px/14px Helvetica
        &:last-child
          border: none
        a
          color: #666
          text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3)
