@import "font-awesome"

@font-face
  font-family: 'Indie Flower'
  font-style: normal
  font-weight: 400
  src: local('Indie Flower'), local('IndieFlower'), url('/fonts/IndieFlower.woff') format('woff')

body
  background-image: url("/images/background.png")
  font-family: 'Indie Flower', cursive
  font-size: 1.5em
  line-height: 1.2em

:focus
  outline-color: #333

#login
  margin: auto
  text-align: center
  #logo
    margin: 25px

#list
  .logout
    position: absolute
    right: 10px
    top: 10px
    color: #666
    text-decoration: none
    icon-signout()
    &:before
      margin-right: 8px
  #logo
    float: left
    margin: 10px 50px
  h1
    font-size: 2.5em
    text-shadow: 3px 3px 3px #666
  section
    padding-left: 350px
  .pagination li
    display: inline-block
    margin: 0 4px
    padding: 0 9px
    border: 1px solid #ccc
    border-radius: 2px
    background-color: #eee
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1)
    &:hover
      background-color: #ccc
      box-shadow: none
    a
      color: #666

#board-view
  position: fixed
  top: 0
  width: 100%
  height: 100%
  overflow: hidden
  .trash
    position: fixed
    right: 10px
    bottom: 10px
    z-index: 999
    width: 40px
    height: 40px
    border: 1px solid #aaa
    background-color: #fff
    border-radius: 2px
    font-size: 40px
    line-height: 46px
    text-align: center
    icon-trash()
    &.hover
      color: #fff
      background-color #666
  .actions
    position: fixed
    left: 0
    bottom: 50px
    z-index: 999
    width: 280px
    height: 32px
    border: 1px solid #aaa
    background-color: #fff
    line-height: 0  /* Hack fore firefox to hide spaces */
    -webkit-transition: left .5s ease-out
    transition: left .5s ease-out
    button
      -webkit-appearance: none
      margin: 4px 2px -1px 2px
      width: 24px
      height: 24px
      padding: 0
    .add-postit
      border: none
    #add-postit-blue
      background-image: url("/images/note_bleu.png")
      &:hover
        background-image: url("/images/note_bleu_roll.png")
    #add-postit-green
      background-image: url("/images/note_vert.png")
      &:hover
        background-image: url("/images/note_vert_roll.png")
    #add-postit-yellow
      background-image: url("/images/note_jaune.png")
      &:hover
        background-image: url("/images/note_jaune_roll.png")
    #add-postit-rose
      background-image: url("/images/note_rose.png")
      &:hover
        background-image: url("/images/note_rose_roll.png")
    .add-line
      border: 1px solid #aaa
      -moz-box-sizing: border-box
      box-sizing: border-box
    #add-line-h
      background: url("/images/horizontal.png") no-repeat center
    #add-line-v
      background: url("/images/vertical.png") no-repeat center
    #add-line-d
      background: url("/images/diagonale.png") no-repeat center
    .toggle-menu
      display: block
      float: right
      margin: 4px
      height: 24px
      width: 12px
      line-height: 28px
      outline: none
      color: #333
      icon-chevron-left()
      -webkit-transform: rotate(0deg)
      transform: rotate(0deg)
      -webkit-transition: -webkit-transform .5s
      transition: transform .5s
    &.closed
      left: -250px
      .toggle-menu
        -webkit-transform: rotate(180deg)
        transform: rotate(180deg)
  .navigation
    position: fixed
    z-index: 999
    top: 59px
    left: 10px
    width: 84px
    height: 84px
    border-radius: 42px
    border: 1px solid #aaa
    background-color: #fff
    a
      z-index: 999
      position: fixed
      color: #333
      font-size: 28px
      outline: none
    .fit-to-content
      top: 160px
      left: 32px
      width: 40px
      height: 40px
      border: 1px solid #aaa
      border-radius: 2px
      background-color: #fff
      font-size: 40px
      line-height: 46px
      text-align: center
      icon-resize-full()
    .move-left
      top: 90px
      left: 15px
      icon-circle-arrow-left()
    .move-down
      top: 115px
      left: 42px
      icon-circle-arrow-down()
    .move-up
      top: 65px
      left: 42px
      icon-circle-arrow-up()
    .move-right
      top: 90px
      left: 69px
      icon-circle-arrow-right()
    .zoom-in
      top: 20px
      left: 12px
      font-size: 36px
      icon-zoom-in()
    .zoom-out
      top: 20px
      left: 64px
      font-size: 36px
      icon-zoom-out()
    #zoom-level
      z-index: 999
      position: fixed
      top: 10px
      left: 120px
      width: 100px
      padding: 6px
      color: #fff
      background: #333
      font-size: 36px
      border-radius: 3px
      opacity: 0.3
      text-align: center

.moving
  opacity: 0.4

.postit
  position: fixed
  -moz-box-sizing: border-box
  box-sizing: border-box
  .shadow
    position: fixed
    left: 0
    bottom: 5%
    width: 5%
    height: 90%
    -webkit-transform-origin: 0 100%
    transform-origin: 0 100%
    -webkit-transform: rotate(5deg)
    transform: rotate(5deg)
  .gradient
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    cursor: move
  .resize
    position: absolute
    bottom: 0
    right: 0
    z-index: 3
    width: 16px
    height: 16px
    cursor: se-resize
  &:hover .resize
    background-image: url("/images/resize.png")
  p
    z-index: 5
    margin: 0
    min-height: 1em
    line-height: 1em
    text-align: center
    color: #333
    opacity: 0.75
    // Hack for Webkit browser
    white-space: pre-wrap
  &.reverse
    p
      color: #eee

.line
  position: relative
  background-image: url("/images/trait.png")
  height: 10px
  cursor: move
  -webkit-transform-origin: 0
  transform-origin: 0
  .start
    left: 0
  .stop
    right: 0
  .handle
    display: none
    position: absolute
    top: -2px
    width: 10px
    height: 10px
    background-color: #fff
    border: 1px solid #aaa
    cursor: crosshair
  &:hover
    .handle
      display: block
