{
  "authorized": [
    "example@example.net",
    "*@example.com"
  ],
  "port": 8080,
  "persona": {
    "audience": "http://localhost:8080"
  },
  "mongodb": {
    "host": "localhost",
    "database": "koalab"
  }
}
