<aside>
  <a href="#" class="toggle-menu">&nbsp;</a>
  <button id="add-postit-blue" class="add-postit"></button>
  <button id="add-postit-green" class="add-postit"></button>
  <button id="add-postit-yellow" class="add-postit"></button>
  <button id="add-postit-rose" class="add-postit"></button>
  <button id="add-line-h" class="add-line"></button>
  <button id="add-line-v" class="add-line"></button>
  <button id="add-line-d" class="add-line"></button>
</aside>

<aside>
  <a href="#" class="zoom-in">+</a>
  <a href="#" class="zoom-out">-</a>
  <a href="#" class="move-left">←</a>
  <a href="#" class="move-down">↓</a>
  <a href="#" class="move-up">↑</a>
  <a href="#" class="move-right">→</a>
</aside>
