extends layout

block content
  section#app
  - if (settings.env == "production")
    script(src="/koalab.min.js")
  - else
    script(src="/keymaster.js")
    script(src="/handlebars.runtime.js")
    script(src="/lodash.js")
    script(src="/backbone.js")
    script(src="/backbone.shortcuts.js")
    script(src="/templates.js")
    script(src="/app.js")
  script.
    document.addEventListener("DOMContentLoaded", function() {
      var board = new App.Board(!{board});
      board.postits.reset(!{postits});
      board.lines.reset(!{lines});
      App.init(board);
    });
