extends layout

block content
  header
    h1
      | K
      span o
      | alab
    p Real time board everywhere

  section#login
    article
      p
        a(class="signin") Help

  section#help
    article
      h1 Creating a new note
      p Click or tap on the note icon with the right color. Your new note appears on the board
    article
      h1 Creating a new line
      p Click or tap on the line icon with the right orientation. Your new line appears on the board
    article
      h1 Suppressing a note
      p Catch it and drag’n’drop it toward the bin that has just appeared in the right bottom corner of your screen
    article
      h1 Suppressing a line
      p Catch it and drag’n’drop it toward the bin that has just appeared in the right bottom corner of your screen
    article
      h1 Editing a note
      p Click or tap on the note you want to edit. The cursor appears - just enter what you want to write down!
    article
      h1 Changing note color
      p Double-click or double-tap on a note to change to next color, do it again, until you get the color you want
    article
      h1 Moving within the board
      p Use the directional arrows on your screen or keyboard, the h/j/k/l keys, or just slide the board on your tablet
    article
      h1 Zooming In and Out
      p Use the plus and minus buttons or key, the mouse scroll wheel or sweep on your tablet
    article
      h1 Displaying all the content of your board
      p Click on the resize icon on your board, it will automatically calculate the right zoom needed to show all the notes on it
    article
      h1 Moving several items
      p (Available only on tablets) Touch all the elements you want to move at once and drag’n’drop them where you want
    article
      h1 Creating a new board
      p Enter the name of your new board in the field on the Koalab home page, and voilà!
    article
      h1 Sharing a board
      p Send the unique URL of the board to the people you want to share it with
    article
      h1 Accessing an existing board
      p Use either its unique URL, or click on its name on the board’s list on the home page
    article
      p
        | Still didn’t found your answer? You have a suggestion for us? Come ask us on 
        a(href="https://github.com/AF83/koalab/issues") Github
        | !

  footer
    ul
      li
        a(href="/") Retour
      li
        a(href="http://dev.af83.com/") About
      li
        a(href="https://github.com/AF83/koalab") Github
      li
        a(href="https://twitter.com/af83") Twitter
