extends layout

block content
  section#list
    a(href="#", class="logout") Logout
    img(src="/images/koalab-logo.png", alt="", id="logo")
    section
      h1 Koalab
      form(action="/boards", method="post")
        input(name="title", placeholder="Wants a new board?", required)
        input(type="submit", value="Create")
      ul#list-of-boards
        each board in boards
          li: a(href="/boards/#{board.id}")= board.title
      != boards.pagination.render({ baseUrl: '/' })
  script(src="https://login.persona.org/include.js")
  script(src="/zepto.js")
  script(src="index.js")
