doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title Koalab
    meta(name="description", content="A scrum-like board")
    meta(name="author", content="af83")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/favicon.png")
    link(rel="apple-touch-icon", href="/apple-touch-icon.png")
    link(rel="stylesheet", href="/normalize.css")
    link(rel="stylesheet", href="/persona-buttons.css")
    link(rel="stylesheet", href="/koalab.css")
  body
    <!--[if IE]><p>Sorry, your browser don't support some features needed for Koalab. You should try a modern browser like <a href="http://www.mozilla.org/">Firefox</a></p><![endif]-->
    <!--[if !IE]><!-->
    script(src="/zepto.js")
    block content
    <!--<![endif]-->
